# node_modules klasörü
node_modules/

# Yerel yapılandırma dosyaları
.env.local
.env.development.local
.env.test.local
.env.production.local

# Derleme dosyaları
build/
dist/

# Geçici dosyalar
.tmp/
.temp/
.cache/

# Log dosyaları
logs/
*.log

# Derleme zamanı oluşturulan dosyalar
*.pem
*.pub

# VSCode ayar dosyaları
.vscode/

# IntelliJ ayar dosyaları
.idea/
*.iml

# macOS spesifik dosyalar
.DS_Store
