 nav {
  border-bottom: 1px solid var(--light-gray);
} 

.dropdown:hover .my-hover svg,
.dropdown:focus .my-hover svg,
.dropdown:hover .my-hover span,
.dropdown:focus .my-hover span {
  color: #56B280; 
}

/* .left-nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin-left: 12px;
}

.nav-menu li {
  float: left;
  margin:auto 4px;
}

.right-nav button{
   margin: auto 4px;
} */


